.register {
    background-image: linear-gradient(
        90deg,
        rgb(32, 32, 32),
        rgba(32, 32, 32, 0.8)
        ),
        url("/images/brandbook a4agro_page-0001.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}