.register {
    background-image: url("/images/brandbook a4agro_page-0011.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aside {
    background-image: url("/images/brandbook a4agro_page-0024.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Asegúrate de que el div tenga un ancho definido */
    height: 100%; /* Asegúrate de que el div tenga un alto definido */
    object-fit: cover;
}